<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.halton.com/wp-content/uploads/2020/05/Concert_hall_rock_concert-1366x668.jpg);">
  <div class="container">

    <a class="btn btn-flat" href="#">Explore Venues</a>
  </div>
</div>
</body>
</html>
