<p>header here </p>
<p>Find me in app/views/venues/index.html.erb</p>

<h1>discover all our venues</h1>
<%= link_to "Go Home", root_path, class: "btn btn-flat"%>
<ul> <% @venues.each do |venue| %>
<li> <%= link_to venue.name, venue_path(venue) %>
<%= venue.price %></li>
<% end %>
</ul>
