

<div class="featuring mt-3">
  <h1>Discover our venues</h1>
</div>




<div class="content">
    <div class="grid">
        <% @venues.each do |venue| %>
          <div class="card-trip">
              <%= image_tag "https://picsum.photos/600/800" %>
                  <div class="card-product-infos">
                      <h2>  <%= link_to venue.name, venue_path(venue) %> </h2>
                      <p> <%= venue.price %>€ per day</p>
                      <p> <%= venue.location %></p>
                  </div>
          </div>
        <% end %>
    </div>
</div>
