// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "button";
@import "header";
@import "icon";
@import "card";
@import "footer";
@import "map";
@import "show";
@import "new_venue";
@import "marker";

.featuring {


    text-align: center;
    color: #395B64;
    font-size: 60px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 40px;

;
}

.footer {
  margin-top: 15px;
}

.featuring2 {
  color: #395B64;
  margin-left: 15px;
  font-weight: 700;
}
