  .featuring-header {
      text-align: center;
      color: #395B64;
      font-size: 60px;
      font-weight: 800;
      margin-top: 15px;
      margin-bottom: 22px;
  }

  .container-show {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }

  .img-banner{
    width: 50%;
    margin-right: 15px;
    margin-left: 15px;
  }

  .img-banner img {
    width: 100%;
    border-radius: 3px;

  }

  .card-show {
    border-radius: 3px;
    background-color: white;
    margin-right: 15px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .photo {
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
  }

  .list {
    margin-left: 15px;
    font-size: 17px;    
  }

  #ul {
    margin: 20px;
    
  }

  #button-book {
    align-items: center;
    margin-bottom: 5px;
    margin-left: 25px;
    width: 84%;
  }

  .buttons {
    margin-bottom: 13px;
  }